-
    var listServices =
        [
            {
                url: 'assets/i/1.png',
                title: 'Автотранспорт'
            },
            {
                url: 'assets/i/2.png',
                title: 'Будівництво, архітектура, землекористування'
            },
            {
                url: 'assets/i/3.png',
                title: 'Громадянство'
            },
            {
                url: 'assets/i/4.png',
                title: 'Захист прав дитини'
            },
            {
                url: 'assets/i/5.png',
                title: 'Реєстрація місця проживання/перебування'
            },
            {
                url: 'assets/i/6.png',
                title: 'Підприємницька діяльність'
            },
            {
                url: 'assets/i/7.png',
                title: 'Санітарне та епідемічне благополуччя, ветеринарна медицина'
            },
            {
                url: 'assets/i/8.png',
                title: 'Комунальне господарство'
            }
        ]