@import 's/mixins'
@import 's/main'
@import '../blocks/app-block/app-block'
@import '../blocks/features/features'
@import '../blocks/footer/footer'
@import '../blocks/header/header'
@import '../blocks/highlight/highlight'
@import '../blocks/solutions/solutions'
@import '../blocks/subscribe/subscribe'	