.header
    height: 80px
    background-color: #383e49
    display: flex
    align-items: center
    justify-content: center
    &__img
        width: 40px
        height: 48px
        color: #e4b658
    &__text
        color: #fff